.page--settings {
    padding: 20px 10px 10px 10px;
}

.logout__btn {
    display: block;
    border: none;
    background-color: #3652E7;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}